@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=Cabin+Sketch:wght@400;700&family=Klee+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Sacramento&display=swap');


body {
  margin: 0px;
  padding: 0px;
  font-family: 'Aleo', sans-serif;
  font-size: 30px;
  font-weight: 200;
}
