:root { 
  --black: #000000;
  --lynch: #6c809a;
  --white: #ffffff;
 
  --font-size-l: 40px;
  --font-size-m: 32px;
  --font-size-s: 30px;
  --font-size-xs: 24px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-jost: "Jost", Helvetica;
}
.jost-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.jost-semi-bold-black-32px {
  color: var(--black);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.jost-semi-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
